.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.col {
  max-width: 400px;
  margin: 40px;
  height: auto;
  height: 80%;
}
.movieImage {
  border-radius: 20px;
  box-shadow: var(--sombra-box);
}
.movieDetails {
  font-size: 1.5rem;
}
@media (max-width: 560px) {
  .col {
    max-width: 350px;
  }
}
